[submodule "changeletterstokatakana"]
	path = changeletterstokatakana
	url = https://github.com/task58/ChangeLettersToKatakana.git
[submodule "ccf-ymm"]
	path = ccf-ymm
	url = https://github.com/task58/ccf-ymm.git
